.Rproj.user
.Rhistory
.RData
.Ruserdata
raw-data/ebd_relSep-2019_yucatan.txt
raw-data/ebd_sampling_relSep-2019_yucatan.txt
raw-data/ebd_2014-2015_yucatan.txt
raw-data/ebd_sampling_2014-2015_yucatan.txt